<a href="https://colab.research.google.com/github/Feznix/Stats-554/blob/main/Homework_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Heather Secrest

Date: 02/06/2026

Course: ST 554 (601)

# **Homework 3**


## **Reading and Manipulating Data with `pandas`**


### **1**

`[]`: This method allows for you to access columns or slice rows. I would like to note that you cannot return rows just as asked (1 at a time) without slicing (aka, `[1:2]` to return row the second row (index 1) vs just `[1]`) and you cannot slice columns using this method. You can use compound logics and compare operations to get booleans with this method.

`.iloc[]`: This method of indexing allows you to use the index of a column or row starting from 0 to return rows or columns. This follows the same operating logic as most programming and is set up in a `.iloc[rows,colums]` format so if you want just the column you will have to specify that you want all rows in the third column like the following `.iloc[:,2]`. Use a list to indicate multipule rows or columns. This method does not work with boolean arrays. It is however capable of slicing both rows and columns unlike `[]`.

`.loc[]`: This is a method of using labels to return rows or columns. This method looks for a spesific word or label to indicate a column or row and returns the entire column or row. Confusingly, it includes the last number when doing things like `.loc[1:2]` which would return 2 rows instead of the 1 you would expect. The method looks for something like `.loc["Color"]` because it looks at the labels or column/row names instead of the indexes. This does work with booleans and is capable of sclicing rows and columns just like `.iloc[]`.


### **2**

#### a. and b.

I imported my pandas and numpy (just in case I needed numpy). I then read in the file using the URL method with a defined delimter of a tab that I found using notebook++ (show all characters) using the `sep = '\t'` to tell the program to use tab as the delimiter. In the same box I used `cancer_data.head()` to look at it.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
cancer_data= pd.read_csv("https://www4.stat.ncsu.edu/online/datasets/BreastCancer.dat",\
                         sep='\t')
cancer_data.head()

,id,age,meno,size,grade,gradd1,gradd2,nodes,enodes,pgr,er,hormon,rectime,censrec,_st,_d,_t,_t0
0,132,49,premenopausal,18,2,1,0,2,0.786628,0,0,no tamoxifen,1838,0,1,0,5.032170,0
1,1575,55,Postmenopausal,20,3,1,1,16,0.146607,0,0,no tamoxifen,403,1,1,1,1.103354,0
2,1140,56,Postmenopausal,40,3,1,1,3,0.697676,0,0,no tamoxifen,1603,0,1,0,4.388775,0
3,769,45,premenopausal,25,3,1,1,1,0.886921,0,4,no tamoxifen,177,0,1,0,0.484600,0
4,130,65,Postmenopausal,30,2,1,0,5,0.548812,0,36,had tamoxifen,1855,0,1,0,5.078713,0

#### c.

Next I worked on the series of requests starting by getting the grade column by adding `.grade` after my variable name.

In [ ]:
cancer_data.grade

0      2
1      3
2      3
3      3
4      2
      ..
681    3
682    2
683    3
684    2
685    2
Name: grade, Length: 686, dtype: int64

#### d.

I then used `.loc` with `[cancer_data['size'] >30]` to specify that I wanted data from the size column with a value greater than 30.

In [ ]:
cancer_data.loc[cancer_data['size'] > 30]

,id,age,meno,size,grade,gradd1,gradd2,nodes,enodes,pgr,er,hormon,rectime,censrec,_st,_d,_t,_t0
2,1140,56,Postmenopausal,40,3,1,1,3,0.697676,0,0,no tamoxifen,1603,0,1,0,4.388775,0
5,1642,48,premenopausal,52,2,1,0,11,0.267135,0,0,no tamoxifen,842,1,1,1,2.305270,0
14,820,32,premenopausal,57,3,1,1,24,0.056135,0,13,no tamoxifen,448,1,1,1,1.226557,0
19,1185,58,Postmenopausal,45,3,1,1,4,0.618783,0,0,no tamoxifen,370,1,1,1,1.013005,0
30,777,49,premenopausal,55,2,1,0,7,0.431710,0,0,no tamoxifen,679,1,1,1,1.859001,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,157,59,Postmenopausal,45,2,1,0,6,0.486752,739,526,no tamoxifen,740,0,1,0,2.026010,0
673,1137,47,premenopausal,70,2,1,0,5,0.548812,796,24,no tamoxifen,1703,0,1,0,4.662560,0
674,1171,48,Postmenopausal,35,1,0,0,2,0.786628,845,105,had tamoxifen,1578,0,1,0,4.320328,0
675,1178,64,Postmenopausal,35,1,0,0,4,0.618783,858,15,no tamoxifen,722,0,1,0,1.976728,0
683,1525,57,Postmenopausal,35,3,1,1,1,0.886921,1490,209,had tamoxifen,1342,0,1,0,3.674196,0

#### e.

I used the same code from the last task and added the `&` operator to note that I wanted both conditions to be true. I also put em in `()` so that it was easier to keep straight.

In [ ]:
cancer_data.loc[(cancer_data['size'] > 30) & (cancer_data['grade']==3)]

,id,age,meno,size,grade,gradd1,gradd2,nodes,enodes,pgr,er,hormon,rectime,censrec,_st,_d,_t,_t0
2,1140,56,Postmenopausal,40,3,1,1,3,0.697676,0,0,no tamoxifen,1603,0,1,0,4.388775,0
14,820,32,premenopausal,57,3,1,1,24,0.056135,0,13,no tamoxifen,448,1,1,1,1.226557,0
19,1185,58,Postmenopausal,45,3,1,1,4,0.618783,0,0,no tamoxifen,370,1,1,1,1.013005,0
32,588,56,Postmenopausal,40,3,1,1,1,0.886921,0,3,no tamoxifen,1013,0,1,0,2.773443,0
37,735,48,premenopausal,45,3,1,1,1,0.886921,0,0,no tamoxifen,1862,0,1,0,5.097878,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,1239,37,premenopausal,35,3,1,1,1,0.886921,242,67,no tamoxifen,205,1,1,1,0.561259,0
637,884,53,premenopausal,75,3,1,1,19,0.102284,375,107,no tamoxifen,600,1,1,1,1.642710,0
652,1488,66,Postmenopausal,42,3,1,1,11,0.267135,412,339,had tamoxifen,394,1,1,1,1.078713,0
664,346,63,Postmenopausal,45,3,1,1,2,0.786628,530,328,no tamoxifen,2148,0,1,0,5.880903,0
683,1525,57,Postmenopausal,35,3,1,1,1,0.886921,1490,209,had tamoxifen,1342,0,1,0,3.674196,0

#### f.

I used the `[]` method with a list inside listing the desired columns in order to get multipule columns as the return. Note that I needed double brackets.

In [ ]:
cancer_data[["age","size","grade"]]

     age  size  grade
0     49    18      2
1     55    20      3
2     56    40      3
3     45    25      3
4     65    30      2
..   ...   ...    ...
681   51    30      3
682   64    26      2
683   57    35      3
684   44    21      2
685   80     7      2

[686 rows x 3 columns]

#### g.

In this one the specification for the rows was done first (by stating that the meno entry must `==` or match the string `'premenopausal'` and then the columns list was added like the task above after a `,`.

In [ ]:
cancer_data.loc[(cancer_data['meno']=='premenopausal'),["age","size","grade"]]

     age  size  grade
0     49    18      2
3     45    25      3
5     48    52      2
6     48    21      3
7     37    20      2
..   ...   ...    ...
669   38    61      2
673   47    70      2
679   43    20      2
681   51    30      3
684   44    21      2

[290 rows x 3 columns]

### **3**

#### a.

I read in the mosquito.txt file using the URL method and defining the delimiter as & by using `sep = '&'`. I also checked it came in right with the `.head()` method.

In [ ]:
mosq_data= pd.read_csv(" https://www4.stat.ncsu.edu/~online/datasets/mosquito.txt",\
                       sep ='&')
mosq_data.head()

   Day  Cage trt  Response
0    1     1  T2        42
1    2     1  T1        44
2    2     2  T2        42
3    3     1  T1        25
4    3     2  T3        33

#### b.

This data set had a tab delimiter and so I used `sep = "\t"` to indicate that. It also didn't have any columns so I needed to note that the `header=None` so it didn't use my first line as a header and that the new names for the header were the same as in `mosq_data` by saying that `names=mosq_data.columns`. All carefully separated by commas of course.

In [ ]:
mosq2_data = pd.read_csv('https://www4.stat.ncsu.edu/~online/datasets/mosquito2.txt',\
                         sep ='\t', header= None, names=mosq_data.columns)
mosq2_data.head()

   Day  Cage trt  Response
0   16     1  T2        40
1   16     2  T3        37
2   17     1  T2        34
3   17     2  T3        39
4   18     1  T2        42

#### c.

To do this I used `.concat` and put the two data frame names in as a list. I also decided that I wanted the index to not repeat (aka start from the top and go all the way down) so I used `ignore_index = True`. I checked to be sure I had joined them.

In [ ]:
mosq_combined = pd.concat([mosq_data,mosq2_data],ignore_index=True)
mosq_combined

    Day  Cage trt  Response
0     1     1  T2        42
1     2     1  T1        44
2     2     2  T2        42
3     3     1  T1        25
4     3     2  T3        33
..  ...   ...  ..       ...
62   28     2  T3        39
63   29     1  T2        33
64   29     2  T3        39
65   30     1  T1        42
66   30     2  T2        42

[67 rows x 4 columns]

## **Summarizing Data Numerically**

### Task 1

I checked the data in notebook ++ found the delimiter was ";" so I defined that using `sep = ";"` and then used `.head()`, `.tail()`, `.info()`, `.describe()`, and `.isnull().sum()` to look at my data. There were no nulls and absence seems to have an outlier with an absence amount of 75 days as the max.

In [ ]:
st_data = pd.read_csv(" https://www4.stat.ncsu.edu/~online/datasets/StudentData.txt", sep = ';')
st_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
st_data.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
st_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [ ]:
st_data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [ ]:
st_data.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

### Task 2

#### Categorical Data

The first thing I did was change my desired variables to categories. I choose school, sex, and health. I decided that health was categorical with the categories being a 1-5 scale that the responders filled out. When doing school I didn't rename them because I don't know the actual school names. When renaming the sex categories I checked first that the order was female then male before doing it and then checked on the name change after (so you didn't see me check). For health I considered renaming the 1-5 scale as "Poor", "Fair", "Good", "Very Good", and "Excellent". Ideally, I would have an orginal copy of the survey to work off of and match the category names to the question asked, but I didn't so I decided against renaming them.

In [ ]:
st_data["schoolc"]=st_data.school.astype("category")
st_data.schoolc.cat.categories

Index(['GP', 'MS'], dtype='object')

In [ ]:
st_data["sexc"]=st_data.sex.astype("category")
st_data.sexc= st_data.sexc.cat.rename_categories(["Female","Male"])
st_data.sexc.cat.categories

Index(['Female', 'Male'], dtype='object')

In [ ]:
st_data["healthc"]=st_data.health.astype("category")
st_data.healthc.cat.categories

Index([1, 2, 3, 4, 5], dtype='int64')

##### One-Way Contengency Table

The value 187 following Male means that there are 187 male students who responded to the survey. This is less than the female students.

In [ ]:
st_data.sexc.value_counts()

sexc
Female    208
Male      187
Name: count, dtype: int64

##### Two Way Table

The Value under GP and Female means that in the school GP there are 183 Female students who responded to the survey. This also shows (in combo witht he male value) that the number of responses for GP students was a lot higher than MS students.

In [ ]:
pd.crosstab(index=st_data.schoolc, columns=st_data.sexc,\
            margins=True, rownames=['School'], colnames=["Sex"])

Sex     Female  Male  All
School
GP         183   166  349
MS          25    21   46
All        208   187  395

##### Three-Way Table

The value 24 in the first column and row shows that in the school GP there were 24 female students who thought that their health should be rated as 1 (Assuming poor based on general survey practice, but without the survey no way to know).

In [ ]:
pd.crosstab([st_data.schoolc,st_data.sexc],\
            st_data.healthc, margins=True, \
            rownames=['School','Sex'],colnames=['Health on a 1-5 Scale'])

Health on a 1-5 Scale   1   2   3   4    5  All
School Sex
GP     Female          24  24  47  33   55  183
       Male            16  16  31  28   75  166
MS     Female           7   1   5   4    8   25
       Male             0   4   8   1    8   21
All                    47  45  91  66  146  395

##### Conditional Two-Way `.loc()`

For this data I subset the origional data to only give me the data from MS and return the column `sexc` so that the sex was sorted into only students from MS. I set that as a category in my dataset and then used pd.crosstab to create a data table with the new subset data and healthc.

In [ ]:
st_data['MS']=st_data.loc[st_data['school']=='MS',['sexc']]
st_data['MS']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
390    Male
391    Male
392    Male
393    Male
394    Male
Name: MS, Length: 395, dtype: category
Categories (2, object): ['Female', 'Male']

In [ ]:
pd.crosstab(st_data.MS,st_data.healthc,\
            margins=True,rownames=['School'],\
            colnames=['Health on a 1-5 Scale'])

Health on a 1-5 Scale  1  2   3  4   5  All
School
Female                 7  1   5  4   8   25
Male                   0  4   8  1   8   21
All                    7  5  13  5  16   46

##### Conditional 2-Way Subset

The table I created here is the health status vs gender of just the MS students. Which I did by saving my table as a variable and sorting it based on MS students. I couldn't figure out quite how to give it the right title.

In [ ]:
health_tab=pd.crosstab([st_data.schoolc,st_data.sexc],st_data.healthc, margins=True, rownames=['School','Sex'],colnames=['Health on a 1-5 Scale'])
health_tab.loc["MS", :]

Health on a 1-5 Scale  1  2  3  4  5  All
Sex
Female                 7  1  5  4  8   25
Male                   0  4  8  1  8   21

#### Numerical Summaries

##### Center and Spread for Three Variables

For this I choose mean and standard deviation as my center and spread values. I did the variables Age, G3, and G2. I subset them to be the females only for the `.loc` method. I created a new grouping using `.loc` to return the age, G3, or G2 values given they are female and then did the `.mean()` and `.std()` on those new groupings.

In [ ]:
Age_Mean= round(st_data.age.mean(),1)
Age_st = round(st_data.age.std(),2)
print('The age mean is', Age_Mean, 'and standard deviation is',Age_st)

The age mean is 16.7 and standard deviation is 1.28

In [ ]:
st_data['agef']=st_data.loc[st_data['sex']=='F',['age']]
AgeF_Mean= round(st_data.agef.mean(),1)
AgeF_st = round(st_data.agef.std(),2)
print('The age mean of the Females is', AgeF_Mean, 'and standard deviation is',AgeF_st)

The age mean of the Females is 16.7 and standard deviation is 1.2

In [ ]:
G3_Mean= round(st_data.G3.mean(),1)
G3_st = round(st_data.G3.std(),2)
print('The G3 mean is', G3_Mean, 'and standard deviation is',G3_st)

The G3 mean is 10.4 and standard deviation is 4.58

In [ ]:
st_data['G3f']=st_data.loc[st_data['sex']=='F',['G3']]
G3F_Mean= round(st_data.G3f.mean(),1)
G3F_st = round(st_data.G3f.std(),2)
print('The G3 mean of the Females is',G3F_Mean, 'and standard deviation is',G3F_st)

The G3 mean of the Females is 10.0 and standard deviation is 4.62

In [ ]:
G2_Mean= round(st_data.G2.mean(),1)
G2_st = round(st_data.G2.std(),2)
print('The G2 mean is', G2_Mean, 'and standard deviation is',G2_st)

The G2 mean is 10.7 and standard deviation is 3.76

In [ ]:
st_data['G2f']=st_data.loc[st_data['sex']=='F',['G2']]
G2F_Mean= round(st_data.G2f.mean(),1)
G2F_st = round(st_data.G2f.std(),2)
print('The G2 mean of the Females is',G2F_Mean, 'and standard deviation is',G2F_st)

The G2 mean of the Females is 10.4 and standard deviation is 3.64

##### Grouping Variables

I choose to first group by school for age, G3, and G2. I also rounded the final value to 2 for all values. I did this with mean and standard deviation. I then grouped by school and sex for the same variables for both mean and standard deviation.

In [ ]:
round(st_data.groupby(['school'])[['age','G3','G2']].mean(),2)

          age     G3     G2
school
GP      16.52  10.49  10.78
MS      18.02   9.85  10.20

In [ ]:
round(st_data.groupby(['school'])[['age','G3','G2']].std(),2)

         age    G3    G2
school
GP      1.22  4.63  3.81
MS      0.88  4.24  3.38

In [ ]:
round(st_data.groupby(['school','sex'])[['age','G3','G2']].mean(),2)

              age     G3     G2
school sex
GP     F    16.58   9.97  10.40
       M    16.46  11.06  11.20
MS     F    17.84   9.92  10.32
       M    18.24   9.76  10.05

In [ ]:
round(st_data.groupby(['school','sex'])[['age','G3','G2']].std(),2)

             age    G3    G2
school sex
GP     F    1.17  4.60  3.65
       M    1.26  4.59  3.95
MS     F    0.75  4.85  3.68
       M    1.00  3.49  3.06

##### Correlation Matrix

I used the `.corr` function and used `[]` to specify the list of variables that I wanted it to correlate beforehand as the ones we've defined as numeric.

In [ ]:
st_data[['age','absences','G1','G2','G3']].corr(numeric_only=True)

               age  absences        G1        G2        G3
age       1.000000  0.175230 -0.064081 -0.143474 -0.161579
absences  0.175230  1.000000 -0.031003 -0.031777  0.034247
G1       -0.064081 -0.031003  1.000000  0.852118  0.801468
G2       -0.143474 -0.031777  0.852118  1.000000  0.904868
G3       -0.161579  0.034247  0.801468  0.904868  1.000000